<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail P</h2>
            <% if (!pakaian) { %>
                <div class="alert alert-danger fw-bold" role="alert">
                    Data Kosong. <br> 
                    <a href="/pakaian/:page" class="alert-link fw-normal">&laquo; kembali ke daftar pakaian</a>
                  </div>
            <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-subtitle mb-2 text-muted">Kode :<%= pakaian.kode %></h5>
                  <h5 class="card-title">Nama :<%= pakaian.nama %></h5>
                  <p class="card-text">Harga :<%= pakaian.harga %></p>
                  <p class="card-text">Stok :<%= pakaian.stok %></p>
                  <a href="/pakaian/edit/:page/<%= pakaian.kode %>" class="btn btn-info badge">Ubah</a>
            
                  <form action="/pakaian/:page?_method=DELETE" method="POST" class="d-inline">
                    <input type="hidden" name="kode" value="<%= pakaian.kode %>"/>
                    <button type="submit" class="btn btn-danger badge" onclick="return confirm('Apakah anda yakin');">Hapus</button>
                  </form>
                  <a href="/pakaian/:page" class="card-link d-block mt-2">&laquo; Kembali ke daftar pakaian</a>
                </div>
              </div>
            <% } %> 
        </div>
    </div>
</div>