
<div class="row">
    <div class=" col-md-9">
        <div class="card card-stats">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2> List Pakaian</h2>
            <a href="/pakaian/tambah/:page" class="btn btn-primary mb-2">Tambah Data </a>
            <% if (msg.length !==0) { %>
                <div class="alert alert-success" role="alert">
                    <%= msg %>
                </div>
                <% } %>
                    <form action="/pakaian/search/:page" id="FormPakaian" class="form-horizontal" method="POST" role="form">
                        <div class="form-group">
                            <div id="filters" class=" text-right dropdown-content">
                                <select name="filterKat">
                                    <option value="" disabled="" selected="">select filter</option>
                                    <option value="dress">dress</option>
                                    <option value="outer">outer</option>
                                    <option value="skirt">skirt</option>
                                    <option value="shirt">shirt</option>
                                    <option value="tunic">tunic</option>
                                </select>
                                <div class="col-md-2 text-right" style="float: right;">
                                    <input type="submit" class="form-control btn btn-primary" name="submit">
                                </div>
                            </div>
                
            </form>
            &ensp;
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Stok</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (pakaians.length === 0) { %>
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-danger fw-bold" role="alert">
                                Data masih kosong.
                                </div>
                        </td>
                    </tr>
                <% } %>
              
                <% pakaians.forEach((pakaian, i) => { i++%>
                    <tr>
                        <th scope="row"><%= i++ %> </th>
                        <td><%= pakaian.kode %> </td>
                        <td><%= pakaian.nama %> </td>
                        <td><%= pakaian.kategori %> </td>
                        <td><%= pakaian.harga %> </td>
                        <td id="pakaian.stok"><button onclick="kurang()" class="fa fa-minus rounded-circle bg-primary" ></button>
                            &nbsp;<%= pakaian.stok %>&nbsp;&nbsp;
                            <button onclick="tambah()" class="fa fa-plus rounded-circle bg-primary" ></button> </td>
                            <script>
                                function kurang() {
                                    var stock;
                                    stock = parseInt(document.getElementById("pakaian.stok").innerHTML);
                                    document.getElementById("pakaian.stok").innerHTML = --stock;
                                }
                                function tambah() {
                                    var stock;
                                    stock = parseInt(document.getElementById("pakaian.stok").innerHTML);
                                    document.getElementById("pakaian.stok").innerHTML = ++stock;
                                }
                                </script>
                        <td>
                            <a href="/pakaian/:page/<%= pakaian.kode %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
                        </td>
                        </tr>
                <% }) %>
                </tbody>
            </table>
    </div>
</div>
</div>



<% if (pages > 0) { %>
<ul class="pagination text-center">
    <% if (current == 1) { %>
        <li class="disabled"><a>First</a></li>
        <% } else { %>
        <li><a href="/pakaian/1">First</a></li>
    <% } %>
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
    <% } %>
        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/pakaian/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 2 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/pakaian/<%= pages %>">Last</a></li>
        <% } %>
</ul>
<% } %>
</div>
</div>
</div>
</div>
</div>