<div class="row" style="margin-left: 130pt;">
    <div class=" col-md-10">
        <div class="card ">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Clothes List</h2>
                        <a href="/pakaian/tambah/:page" class="btn btn-primary mb-2">Add Data </a>
                        <% if (msg.length !==0) { %>
                            <div class="alert alert-success" role="alert">
                                <%= msg %>
                            </div>
                            <% } %>
                                <form action="/pakaian/search/:page" id="FormPakaian" class="form-horizontal"
                                    method="POST" role="form">
                                    <div class="form-group">
                                        <div id="filterkat" class="col-md-5 " style="margin-left: 350pt;">
                                            <select class="form-control" name="filterKat">
                                                <option value="" disabled="" selected="">select category</option>
                                                <option value="blouse">blouse</option>
                                                <option value="dress">dress</option>
                                                <option value="outer">outer</option>
                                                <option value="skirt">skirt</option>
                                                <option value="shirt">shirt</option>
                                                <option value="tunic">tunic</option>
                                            </select>
                                        </div>
                                        &ensp;
                                        <div class="col-md-3" style="margin-left: 400pt;" >
                                            <button type="submit" class="form-control btn btn-primary rounded-pill" name="submit">Filter</button>
                                        </div>
                                    </div>
                                </form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Stock</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                <tbody>
                    <% if (pakaians.length===0) { %>
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-danger fw-bold" role="alert">
                                    Data masih kosong.
                                </div>
                            </td>
                        </tr>
                        <% } %>
                <% pakaians.forEach((pakaian, i) => { i++%>
                    <tr>
                        <th scope="row"><%= i++ %> </th>
                        <td id="kode<%= pakaian._id %>"><%= pakaian.kode %> </td>
                        <td id="nama<%= pakaian._id %>"><%= pakaian.nama %> </td>
                        <td id="kategori<%= pakaian._id %>"><%= pakaian.kategori %> </td>
                        <td id="harga<%= pakaian._id %>"><%= pakaian.harga %> </td>
                        <td><button onclick="kurang('<%= pakaian._id %>')" class="fa fa-minus rounded-circle bg-primary"></button>
                            &nbsp;&nbsp;<span id="<%= pakaian._id %>"><%= pakaian.stok %></span>
                            &nbsp;&nbsp;<button onclick="tambah('<%= pakaian._id %>')" class="fa fa-plus rounded-circle bg-primary" ></button>
                        </td>
                        <td>
                            <a href="/pakaian/:page/<%= pakaian.kode %> " class="btn btn-primary badge rounded-pill"><i class="fas fa-info-circle"></i> </a>
                        </td>
                        </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
&ensp;&ensp;&ensp;
</div>

<% if (pages > 0) { %>
<ul class="pagination text-center">
    <% if (current == 1) { %>
        <li class="disabled"><a>First</a></li>
        <% } else { %>
        <li><a href="/pakaian/1">First</a></li>
    <% } %>
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
    <% } %>
        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
            <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
            <% } else { %>
                <li><a href="/pakaian/<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 2 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
        <% } %>
        <% if (current == pages) { %>
            <li class="disabled"><a>Last</a></li>
        <% } else { %>
            <li><a href="/pakaian/<%= pages %>">Last</a></li>
        <% } %>
</ul>
<% } %>
</div>
</div>

<script>
    function tambah(id) {
        var stok = parseInt($('#' + id).html());
        stok = stok + 1;
        $('#'+id).html(stok)
        $.ajax({
            type: "PUT",
            url: "/pakaian/stok/" + id,
            data: {
                _id: id,
                stok: stok,
                kode: ($('#kode' + id).text()).trim(),
                nama: ($('#nama' + id).text()).trim(),
                kategori: ($('#kategori' + id).text()).trim(),
                harga: ($('#harga' + id).text()).trim(),
            },
            dataType: "json",
        });
    }

    function kurang(id) {
            var stok = parseInt($('#' + id).html());
            stok = stok - 1;
            $('#' + id).html(stok)
            $.ajax({
            type: "PUT",
            url: "/pakaian/stok/" + id,
            data: {
                _id: id,
                stok: stok,
                kode: ($('#kode' + id).text()).trim(),
                nama: ($('#nama' + id).text()).trim(),
                kategori: ($('#kategori' + id).text()).trim(),
                harga: ($('#harga' + id).text()).trim(),
            },
            dataType: "json",
        });
        }
</script>
