<div class="container mt-3" style="margin-left: 150pt;">
  <div class="row">
    <div class="col-md-8">
      <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
        </div>
        <% } %>
          <div class="card" style="border: 3px double yellow;">
            <div class="card-header bg-gradient-pink text-white text-center">
              Form Ubah Data Pakaian
            </div>
            <div class="card-body ">
              <form method="POST" action="/pakaian/:page?_method=PUT">
                <input type="hidden" name="_id" value="<%= pakaian._id %>" />
                <input type="hidden" name="oldKode" value="<%= pakaian.oldKode || pakaian.kode %>">
                <div class="mb-3">
                  <label for="kode" class="form-label">Kode</label>
                  <input type="text" class="form-control" id="kode" name="kode" required value="<%= pakaian.kode %>">
                </div>
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required value="<%= pakaian.nama %>">
                </div>
                <div class="mb-3">
                  <label for="kategori" class="form-label">Kategori</label>
                  <input type="text" class="form-control" id="kategori" name="kategori" required
                    value="<%= pakaian.kategori %>">
                </div>
                <div class="mb-3">
                  <label for="harga" class="form-label">Harga</label>
                  <input type="text" class="form-control" id="harga" name="harga" required value="<%=pakaian.harga %>">
                </div>
                <div class="mb-3">
                  <label for="stok" class="form-label">Stok</label>
                  <input type="text" class="form-control" id="stok" name="stok" required value="<%= pakaian.stok %>">
                </div>
                <div class="card-footer bg-gradient-pink text-white text-center">
                  <button type="submit" class="btn btn-secondary" style="border-radius: 20px; ">Update</button>
                </div>
              </form>
            </div>
          </div>
    </div>